.ImageDiv{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.ImageDiv:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Image-container{
    padding: 2px 16px;
    overflow: hidden;
}

.ImageDiv img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    /* height: 100%; */
}